.bottom-navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 10;
}

.bottom-navigation-inner {
  border: 2px solid var(--bg-gray-5);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow: clip;
}

.bottom-navigation-item {
  text-align: center;
  color: gray;
  text-decoration: none;
  padding: 15px;
}

.bottom-navigation-item-inner {
  transition: all 0.3s ease;
}

.bottom-navigation-item:hover .bottom-navigation-item-inner {
  color: var(--bg-black-1);
}

.bottom-navigation .active .bottom-navigation-item-inner {
  color: var(--bg-green-10) !important;
}

.bottom-navigation-item-label {
  font-weight: 600;
  font-size: x-small;
}

@media screen and (max-width: 1024px) {
  .bottom-navigation-item {
    color: var(--bg-black-1);
  }
}
