.centered-container {
  display: flex;
  justify-content: center;
}

.centered-container-inner {
  width: 900px;
}

@media screen and (max-width: 1024px) {
  .centered-container-inner {
    width: 100%;
    padding: 10px;
  }
}
